.NavBarItems{
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 80%;
    flex-direction: column;
    background-color: rgba(11, 36, 104, 0.9);
    backdrop-filter: blur(0.5rem);
    display: flex;
    justify-content: left;
    align-items: right;
    list-style: none;
    padding-top: 50px;
    font-weight:400;
    
}



.nav-links {
    color:white;
    text-decoration: none;
    text-align: center;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left:20px;

}
.nav-links:hover{
    background-color: rgba(158, 39, 23, 0.685);
    border-radius: 1px;
    transition: all 0.2s ease-out;
}


.nav-links-mobile{
    color:rgba(158, 39, 23, 0.979);
    text-decoration: none;
    text-align: right;
    display: flex;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left:20px;
    font-weight:600;
   
}
.nav-links-mobile:hover{
    background-color:white;
    border-radius: 1px;
    transition: all 0.2s ease-out;
    
}

.menu-icon{
    color:white;
    font-size: 25px;
    position: fixed;
    inset: 0 0 0 85%;
}
